.font-mulish{
    font-family: "Mulish", serif;
  }
.font-volkhov{
    font-family: "Volkhov", serif;
  }
.font-zen{
    font-family: "Zen Dots", serif;
  }
.font-inria{
  font-family: "Inria Serif", serif;
  }